<h1>Austin's Ember Login System</h1>

{{display-logged-in}}

<h2>Navigation</h2>
<ul>
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li>{{#link-to "account"}}Account{{/link-to}}</li>
</ul>

{{outlet}}
